

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

li button {
  margin-left: 10px;
  background-color: #db311e;
}

li .Edit{
  margin-left: 10px;
  background-color: #35dcbb;
}

li .Save{
  margin-left: 10px;
  background-color: #dcd135;
}


li .Save:hover{
  margin-left: 10px;
  background-color: #dcd13559;
}



li button:hover {
  background-color: #c82333;
}

li .Edit:hover {
  background-color: #35dcbb73;
}
